/*google font archivo*/


@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Ysabeau+SC&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing:border-box;

  list-style:none;
  text-decoration: none;

  font-family: "Afacad Flux", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  
}
.main{
  background-color: #fff;
  width: 90%;
  margin:0 auto;
  display:flex;
  flex-direction:column;
  gap:22px;
}
.section{
  width:100%;
  display:flex;
  flex-direction: column;
  gap: 28px;
  padding:80px 8%;
}
